<VirtualHost *:443>
	ServerName {{ web_name }}
{% if web_aliases is defined %}
	ServerAlias {{ web_aliases }}
{% endif %}
	ServerAdmin {{ srv_admin }}
	DocumentRoot "{{ web_htdocs }}"

	LogLevel warn
	ErrorLog "{{ web_logs }}/apache2-error.log"
	CustomLog "{{ web_logs }}/apache2-access.log" combined

	<Directory "{{ web_htdocs }}">
		Options Indexes ExecCGI FollowSymLinks MultiViews
		AllowOverride All
		Require all granted
	</Directory>

	<IfModule mod_rewrite.c>
		RewriteEngine On
	</IfModule>

	SSLEngine on
	SSLCertificateFile /etc/letsencrypt/live/{{ web_name }}/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/{{ web_name }}/privkey.pem
	Header always add Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
	<FilesMatch "\.php$">
		SSLOptions +StdEnvVars
	</FilesMatch>

	<IfModule mod_fcgid.c>
		SuexecUserGroup {{ sys_user }} {{ sys_user }}
		Alias /cgi-bin/ {{ web_fcgid }}/
	</IfModule>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
